{:deps {org.clojure/clojurescript {:mvn/version "1.10.758"}
        com.taoensso/carmine {:mvn/version "3.1.0"}
        com.stuartsierra/component {:mvn/version "1.0.0"}
        clj-test-containers/clj-test-containers {:mvn/version "0.7.2"}}
 :paths ["src" "test" "app"]
 :aliases {:test {:extra-paths ["test"]}}
 }